*{
  margin: 0;
}
body{
  font-family: 'Roboto', sans-serif;
  background-color: #330033;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23404' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23505'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}
@media screen and (min-width:1024px) {
  
.user-img{
  padding: 2%;
  height: 13vh;
  margin-bottom: 4%;
  margin-left: 15vh;
}
.black-bubble{
  background-color: #db2b2b;
  width: 90vh; 
  height: 90vh;
  border-radius:0% 0% 90% 0% ;
  animation-name: example;
  color: white;
  animation-duration: 2s;

}

@keyframes example {
  from {width: 0vw; height: 0vh;}
  to {width: 90vh; height: 90vh;}
}
.bubble-heading{
  position: absolute;
  margin-top: 12%;
  margin-left: 7%;
  font-weight: 500;
  animation: mymove 1s 1;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;

}
@keyframes mymove {
      from {font-size: 0px;}
      to {font-size: 24px ;}
    }
@keyframes mymove1 {
      from {font-size: 0px;}
      to {font-size: 12px ;}
    }

.bubble-para{
  margin-top: 18%;
  position: absolute;
  margin-left: 7%;
  opacity: 70%;
  animation: mymove1 1s 1;
  animation-duration: 2s;
  font-size: 12px ;
}
.logo-head{
  display: inline;
  position: fixed;
  margin-top: 25px;
}
.logo{
  width: 9vh;
  margin-top: 3%;width: 9vh;
  margin-top: 3%;
}
form{
  display: inline-grid;
  position: absolute;
  right: 200px;
  color: rgb(255, 255, 255);
  padding: 5%;
  text-align: center;
  border-radius: 10%;
  width: 45vh;
  animation: form 1s 1;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  line-height: 4.5vh;
}
@keyframes form {
  from {margin-top: -70vh;}
  to {margin-top: 0vh;}
}
input,select{
  height: 31px;
  background-color: #9e9e9e47;
  border-radius: 7px;
  padding: 5px;
  border: none;
}
.submit{
  height: 41px;
  background-color: #f44336;
  color: #fff;
  border: none;
  border-radius: 28px;
  width: 26vh;
  position: relative;
  left: 55px;
}
}
@media screen and (max-width:600px) {
  .black-bubble{
      background-color: #db2b2b;
      width: 20vh;
      height: 20vh;
      color: white;
      border-radius:0% 0% 90% 0% ;
      animation-name: example;
      animation-duration: 2s;
    }
    @keyframes example {
      from {width: 0vw; height: 0vh;}
      to {width: 20vh; height: 20vh;}
    }
.bubble-heading{
 display: none;

}
@keyframes mymove {
      from {font-size: 0px;}
      to {font-size: 24px ;}
    }
@keyframes mymove1 {
      from {font-size: 0px;}
      to {font-size: 12px ;}
    }

.bubble-para{
 display: none;
}
.logo-head{
  display: inline;
  position: fixed;
  margin-top: 10px;
}
.logo{
  width: 9vh;
  margin-top: 3%;width: 9vh;
  margin-top: 3%;
}
form{
  color: rgb(255, 255, 255);
  text-align: center;
  border-radius: 10%;
  width: 45vh;
  animation: form 1s 1;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  display: flex;
  flex-direction: column;
  padding: 42%;
  margin-top: 43px;
}
@keyframes form {
  from {margin-top: -70vh;}
  to {margin-top: 0vh;}
}
input,select{
  height: 31px;
  background-color: #9e9e9e47;
  border-radius: 7px;
  padding: 5px;
  border: none;
}
input:hover,select:hover{
  border: none;
}
.submit{
  height: 41px;
  background-color: #f44336;
  color: #fff;
  border: none;
  border-radius: 28px;
  width: 26vh;
  position: relative;
  left: 50px;
}
.header{
color: #000;
text-align: center;
padding: 6%;
position: relative;
/* margin-left: 68px; */
display: inline;
text-align: center;
left: 102%;
}
}
