a,
a:hover,
a:focus {
	color: inherit;
	text-decoration: none;
	transition: all 0.3s;
}

.navbar-btn {
	box-shadow: none;
	outline: none !important;
	border: none;
}

.line {
	width: 100%;
	height: 1px;
	border-bottom: 1px dashed #ddd;
	margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
	display: flex;
	width: 100%;
	align-items: stretch;
}

#sidebar {
	min-width: 250px;
	max-width: 250px;
	background: #db2b2b;
	color: #fff;
	transition: all 0.3s;
}

#sidebar.active {
	margin-left: -250px;
}

#sidebar .sidebar-header {
	padding: 20px;
	background: #db2b2b;
}

#sidebar ul.components {
	padding: 20px 0;
	border-bottom: 1px solid #941a1a;
}

#sidebar ul p {
	color: #fff;
	padding: 10px;
}

#sidebar ul li a {
	padding: 10px;
	font-size: 1.1em;
	display: block;
}

#sidebar ul li a:hover {
	color: #dc4f4f;
	background: #fff;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
	color: #fff;
	background: #db2b2b;
}

a[data-toggle="collapse"] {
	position: relative;
}

.dropdown-toggle::after {
	display: block;
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
}

ul ul a {
	font-size: 0.9em !important;
	padding-left: 30px !important;
	background: #dc4f4f;
}

ul.CTAs {
	padding: 20px;
}

ul.CTAs a {
	text-align: center;
	font-size: 0.9em !important;
	display: block;
	border-radius: 5px;
	margin-bottom: 5px;
}

a.download {
	background: #fff;
	color: #db2b2b;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
	width: 100%;
	min-height: 100vh;
	transition: all 0.3s;
}

.inner-content {
	padding: 20px;
}
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
	#sidebar {
		margin-left: -250px;
	}
	#sidebar.active {
		margin-left: 0;
	}
	#sidebarCollapse span {
		display: none;
	}
}

.carousel-item > img {
	height: 500px;
}

.card {
	width: 250px;
}
.card > img {
	width: 250px;
	height: 200px;
}

.card-body > p {
	height: 120px;
}

@keyframes welcome {
	0%,
	100% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(1rem);
	}
}
.navbar {
	background-color: #db2b2b;
}
.navbar-brand,
.nav-link,
.nav-link:hover,
.navbar-brand:hover {
	color: white;
}
.card {
	animation: card 3s linear;
}
@keyframes card {
	0%,
	100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(1rem);
	}
}
.profile {
	height: 350px;
	border-radius: 50px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	text-align: center;
	background-color: #db2b2b;
	box-shadow: 1px 0px 0xp rgba(#db2b2b);
}
.profile > img {
	width: 21rem;
	border-radius: 50%;
	height: 20rem;
	animation: profile 3s infinite;
}
.top-welcome {
	font-size: 2rem;
	font-weight: bold;
}
@keyframes profile {
	0%,
	100% {
		transform: rotateY(180deg);
	}
	50% {
		transform: rotateY(30deg);
	}
}

.notify-icon {
	color: white;
}
.events {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-items: center;
}
.btn {
	background-color: #db2b2b;
	color: white;
}
.btn:hover {
	background-color: #dc4f4f;
	color: #fff;
}

@media screen and (max-width: 740px) {
	.events {
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: center;
		justify-items: center;
	}
}

@media screen and (max-width: 540px) {
	.events {
		display: grid;
		grid-template-columns: 1fr;
		align-items: center;
		justify-items: center;
	}
	.profile {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.profile > img {
		width: 100px;
		height: 100px;
	}
}

@media screen and (max-width: 380px) {
	.events {
		display: grid;
		grid-template-columns: 1fr;
		align-items: center;
		justify-items: center;
	}
}

.footer {
	width: 100%;
	background-color: #db2b2b;
	height: 50px;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}
